{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}About Page{% endblock %}
{% block page_heading %}About Page{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">ABOUT US</h1>
            <p class="small-text col-lg-10 mx-auto">OUR GOAL AT POSTERPOCALYPSE IS TO PROVIDE COLLECTORS WITH A SAFE, RELIABLE
            PLACE TO
            PURCHASE SOLD-OUT PRINTS FROM THEIR FAVORITE ARTISTS – WITH A FOCUS ON SCREEN PRINTED ART INSPIRED BY FILMS.</p>
        <br>
        <p class="small-text col-lg-10 mx-auto">While our Store has a large quantity of new and rare Mondo Posters/Prints,
            we also have many art prints and other pop culture prints from various sources. We are always working to expand
            our catalogue, and if there is a specific print you are looking for, please email us because we may have it in
            our inventory. </p>
        </div>
    </div>
{% endblock %}