{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}About Page{% endblock %}
{% block page_heading %}About Page{% endblock %}
{% block content %}
    <div class="container-fluid checkout-container text-center">
        <div class="col-lg-10 mx-auto effect-1">
            <h1>ABOUT US</h1>
            <hr>
            <br></br>
            <h5>OUR GOAL AT POSTERPOCALYPSE IS TO PROVIDE COLLECTORS WITH A SAFE, RELIABLE
                PLACE TO PURCHASE SOLD-OUT PRINTS FROM THEIR FAVORITE ARTISTS – WITH A FOCUS ON SCREEN PRINTED ART INSPIRED
                BY FILMS.</h5>
            <br></br>
            <h5>While our Store has a large quantity of new and rare Mondo Posters/Prints,
                we also have many art prints and other pop culture prints from various sources. We are always working to
                expand
                our catalogue, and if there is a specific print you are looking for, please email us because we may have it
                in
                our inventory. </h5>
            <br></br>
            <h3>FAQ</h3>
            <hr>
            <br></br>
            <h4>What do I do if my package and products were damaged?</h4>
            <hr>
            <br></br>
            <h5>If your package and products were damaged upon arrival contact us as soon as possible with pictures both of
                the damaged package and the damaged goods.
                You can do this through the contact form or by sending us an email on <a
                    href="mailto:posterpocalypse@gmail.com">posterpocalypse@gmail.com</a> or go to the <a href="{% url 'contact' %}">contact</a> section.
                As soon as we receive the pictures of the damaged package and products,
                upon acceptance of the faults we will send you a new package and arrange for the damaged goods to be
                returned to us.</h5>
            <br></br>
            <h4>Can I exchange a product?</h4>
            <hr>
            <br></br>
            <h5>Exchanges are handled just like returns. You have to place a new order and then return the product you wish
                to exchange for something else.
                With the accompanying invoice you can pay for the new product(s). When we have received the returned
                products, we will refund your money right away.</h5>
        </div>
    </div>
{% endblock %}