{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}Posterpocalypse - Totally Tubular Posters{% endblock %}
{% block page_heading %}Home Page{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    <h1 class="heading">PRODUCT CATEGORIES</h1>
    <div class="row">
        {% for category in categories %}
        <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
            {{category.name | title}}
            <img class="product" src="{{ MEDIA_URL}}{{ category.image }}">
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}