{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}Product Details{% endblock %}
{% block page_heading %}Product Details{% endblock %}
{% block content %}
    <div class="container text-center">
        <div>
            <h2 class="section-title">{{product.name}}</h2>
        </div>
        <div class="row">
            <div class="column col-12 col-xl-6">
            <img class="product-image" src="{{ MEDIA_URL}}{{ product.image }}" alt="product_image">
            </div>
            <div class="column col-12 col-xl-6">
                <p>{{ product.description }}</p>
                <p>Artwork by {{ product.artist }}</p>
                <p>£ {{ product.price }}</p>
                <button type="button" class="btn btn-danger">Add To Cart</button>
            </div>
        </div>
    </div>
{% endblock %}