/*-----------------------FONT */

@import url('https://fonts.googleapis.com/css?family=Manrope:100,200,300,400,500,600,700|Bangers&display=swap:100,200,300,400,500,600,700');

/*-----------------------SPECIAL MARGINS/HEADINGS/TEXT */
/*-----------------------Anchor effect taken from codepen.io & edited to own style */

html, body { 
    height: 100%;
    background-color: white;
    font-family: 'Bangers';
    font-size: 1.2rem;
}

.heading {
    text-align: center;
}

.container-fluid {
    padding-bottom: 5rem;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

a {
    color: inherit;
    font-weight: 500;
}

a:hover,
a:focus {
	outline: none;
    text-decoration: none;
    color: #f000ff;
}

.effect-1 a::before,
.effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.effect-1 a:hover::before,
.effect-1 a:hover::after,
.effect-1 a:focus::before,
.effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

hr {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
    width: 60vw;
}

hr:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

/*-----------------------NAVBAR */

.alert-danger {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    border: none;
    text-align: center;
    background-color: #f000ff;
    color: white;
}

.navbar {
    margin-bottom: 30px !important;
    padding-top: 0px;
    padding-bottom: 30px;
}

.navbar-header {
    width: 100%;
    text-align: center;
}

img {
    width: 50vw;
}

.search-input {
    text-align: center;
    border: none;
}

button:focus {
	outline: none;
    text-decoration: none;
    color: #f000ff;
}

/*-----------------------FORMS */
/*-----------------------Taken from codepen.io & edited to own style */

.account-form {
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.text-danger {
    color: #f000ff !important;
}

.card-title { 
    font-weight: 300; 
}

.card-body {
    background-color: white;
}

.btn {
	font-size:14px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.login-form { 
	width: 330px;
	margin: 20px;
}

.sign-up {
	text-align: center;
	padding: 20px 0 0;
}

.alert {
	margin-bottom: -30px;
	font-size: 13px;
	margin-top: 10px;
}

.quantity-input {
    text-align: center;
}

/*-----------------------HOME */

.jumbotron {
    background-image: url("/media/images/logo-large2.jpg");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65vh;
    padding-bottom: 0;
    padding-top: 0;
}

/*-----------------------ACCOUNT */

.img-history {
    object-fit: contain;
    height: 25vh;
    width: 25vw;
}

/*-----------------------ABOUT */

.about-container {
    padding: 50px 25px;
}

/*-----------------------PRODUCTS */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    transition: 0.3s;
    padding-bottom: 50px;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    padding: 20px;
    transition: 0.3s;
}

.panel-body:hover {
  transform: scale(1.1);
}

.product-image {
    max-height: 80vh;
    object-fit: contain;
    padding-bottom: 20px;
}

.item-details {
    padding-left: 30px;
    line-height: 30px;
}

 ul#categories-menu {
    list-style-type: none;
    text-align: left;
}

.category-link {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
}

.page-link {
    padding-top: 30px;
    border: none;
    color: inherit;
    text-emphasis: none;
    text-decoration: none;
}

.page-link:hover {
    background-color: transparent;
    color: #f000ff;
    text-decoration: none;
}

/*-----------------------CART */
/*-----------------------Taken from codepen.io & edited to own style */

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.img-responsive {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.container-cart {
    width: 60vw;
    padding-top: 30px;
    padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.artist-cart {
    text-align: left;
}

/*-----------------------SHIPPING */

.shipping-form-wrapper {
    align-items: center;
}



/*-----------------------FOOTER */

footer {
    bottom:0;
    width:100%;
    z-index: 100;
    font-size: 1.1rem;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h5 {
    color: #fff !important;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #f000ff;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color: #f000ff;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align:right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
    text-align: left;
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
    color:#fff;
    background-color:#29aafe;
}

.social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}

.social-icons a.facebook:hover{
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.github:hover {
    background-color: #000;
}

/*-----------------------MEDIA QUERIES - CART */

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
		display: inline !important;
	}

	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}

	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}	
}

/*-----------------------MEDIA QUERIES - CART */

@media (min-height: 767px) {
    .container-cart, .checkout-container {
        position: relative;
        min-height: 90vh;
    }
}

/*-----------------------MEDIA QUERIES - FOOTER */

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom:30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,.site-footer .social-icons {
        text-align: center;
    }

    .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
    }
}