{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}Order Confirmation{% endblock %}
{% block page_heading %}Order Confirmation{% endblock %}
{% block content %}
    <section>
    <div class="container-fluid text-center effect-1">
        <h2>Order Successful!</h2>
        <br></br>
        <h4>Your order number is: <span>{{ order_history }}</span></h4>
        <br></br>
        <h3>{{ quantity }} x '{{ product }}' Poster</h3>
        <br></br>
        <h4>Shipping address:</h>
        {% for field in form %}
        <div class="forms-group">
            <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
                <h4>{{ field.value }}</h4>
            </div>
        </div>
        {% endfor %}
        <br></br>
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto effect-1">
                <h5>Thanks for your order, we'll have this packed & shipped within 48hrs.<br></br>
                Any issues please get in touch at <a href="mailto:posterpocalypse@gmail.com">posterpocalypse@gmail.com</a></h5>
        </div>
        <br></br>
        <a href="{% url 'index' %}">Return to the home page</a>
    </div>
    </section>
{% endblock %}