{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}{{ user }}'s Orders{% endblock %}
{% block page_heading %}{{ user }}'s Orders{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 mx-auto">
                <h3 class="headers-history">Order History</h3>
                {% for order in orders %}
                <div class="table_block clearfix" id="order-detail-content">

                    <table class="table table-bordered" id="cart_summary">
                        <thead>
                            <tr>
                                <th class="cart_product first_item">Product Image</th>
                                <th>ORDER DATE</th>
                                <th>PRODUCT NAME</th>
                                <th>QUANTITY</th>
                                <th class="cart_unit item">PRICE</th>
                            </tr>
                        </thead>
                        <tbody class="dropdown-product-list">
                            {% for item in order.items%}
                            {{ order_history }}
                            <tr class="cart_item first_item address_0 odd dd-product-group">
                                <td class="cart_product">
                                    <img alt="product-name" class="img-history"src="{{ MEDIA_URL }}{{ item.product.image }}">
                                    </td>
                                <td data-title="ORDER DATE" class="table-history">
                                    <span>{{ order.order.created_at }} </span>
                                </td>
                                <td data-title="PRODUCT NAME" class="table-history">
                                    <span>{{ item.product.name }}</span>
                                </td>
                                <td data-title="QUANTITY" class="table-history">
                                    <span>{{ item.quantity }}</span>
                                </td>
                                <td data-title="PRICE" class="table-history">
                                    <span class="price">£{{ item.product.price }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <p class="row total-history">
                    <span class="pull-left col-xs-6">Total Amount: £{{order.order.total_cost}}</span>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}