{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}Shopping Cart{% endblock %}
{% block page_heading %}Shopping Cart{% endblock %}
{% block content %}
    <div class="container-fluid">
                <h3 class="checkout-heading">Shipping Address</h3>
                <div class="col-12 col-md-6 mt-4 pt-3 px-3 px-lg-5 mx-auto shipping-form-wrapper">
                    <form method="POST" class="post-form-shipping">{% csrf_token %}
                        {{form | as_bootstrap}}
                        <h3 class="checkout-heading mt-4">Shipping method</h3>
                            <div class="checkout-card mb-3">
                                <div class="row justify-content-between">
                                    <div class="col-8">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="royal-mailRadio" id="royal-mail" checked="">
                                            <label class="form-check-label" for="royal-mail">Royal Mail</label>
                                        </div>
                                    </div>
                                    <div class="col-4 form-check-label">Free shipping on all orders
                                    </div>
                                </div>
                            </div>
                                <div class="col-12 button-wrapper">
                                    <button type="submit" class="btn btn-success  btn-succes-cart" >Continue to Payment</button>
                                    <a href="{% url 'view_cart' %}" class="btn btn-success btn-succes-cart" role="button" aria-label="Go Back"><span aria-hidden="true"></span>Go Back</a>
                                </div>
                    </form>
                </div>
    </div>
{% endblock %}