{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}{{ user }}'s Profile{% endblock %}
{% block page_heading %}{{ user }}'s Profile{% endblock %}
{% block content %}
    <div class="container-fluid checkout-container">
        <div class="row justify-content-center contact-row">
            <div class="col-md-10 col-sm-12 col-xs-12 mx-auto profile-form-wrapper">
                <h4 class="profile-welcome">{{user.username}}'s Profile</h4>
                {% if has_order %}
                <a class="order-history-link" href="{% url 'order_history' %}">My Orders</a>
                {% else %}
                <a class="order-history-link" href="{% url 'index' %}">You Have No Order History. Go To Store </a>
                {% endif %}
                <form method="POST" class="post-form full_input_form">{% csrf_token %}
                    {% for field in form %}
                    <div class="forms-group">
                        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
                            <label><h4 class= "input-details">{{field.label_tag}} <span class="asteriskField">*</span></h4></label>
                            {{field}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text-center"><button type="submit" class="save btn btn-default btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}