{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block page_title %}Shopping Cart{% endblock %}
{% block page_heading %}Shopping Cart{% endblock %}
{% block content %}
    {% if not cart_items %}
    <div class="container-fluid empty-container effect-1">
        <h1 class="text-center">Your cart is empty...</h1>
        <h3 class="text-center"><a href="{% url 'all_products' %}">Go back to the store</a></h3>
    </div>
    {% else %}
    <div>
        <h3 class="checkout-heading">Shopping Cart</h3>
    </div>
    <div class="container-fluid container-cart effect-1">
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Product</th>
				<th style="width:12%">Price</th>
				<th style="width:8%">Quantity</th>
                <th style="width:8%"></th>
                <th style="width:22%" class="text-center">Subtotal</th>
				<th style="width:10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
            {% for item in cart_items %}
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 d-none d-sm-block img-responsive" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
							<div class="col-sm-10 col-xs-10">
								<h4 class="nomargin">{{ item.product.name }}</h4>
								<p class="artist-cart">{{ item.product.artist }}</p>
							</div>
						</div>
                    </div>
				</td>
				<td data-th="Price"> £{{ item.product.price }}</td>
                <td data-th="Quantity">
                    <form method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
					<input type="number" name="quantity" class="form-control text-center" value="{{ item.quantity }}">
                    <td>
                    <button class="btn btn-info btn-sm" method="post" action="{% url 'adjust_cart' item.id %}" type="submit"><i class="fa fa-refresh"></i></button>
                    </td>
                    </form>
				</td>
                <td data-th="Subtotal" class="text-center"> £{{ item.product.price }}</td>
                <td class="actions" data-th="">
                    <form action="{% url 'cart_item_delete' item.id %}" method="post mx-auto">
                    {% csrf_token %}
					<button class="btn btn-danger btn-sm" action="{% url 'cart_item_delete' item.id %}" method="post" type="submit"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
			</tr>
            {% endfor %}
		</tbody>
		<tfoot>
            {% if cart_items %}
			<td class="text-center"><a href="{% url 'all_products' %}">Continue Shopping</a></td>
			<td colspan="2" class="hidden-xs"></td>
			<td class="hidden-xs text-center">Total: <strong>£{{ total | floatformat:2}}</strong></td>
			<td class="text-center"><a href="{% url 'shipping' %}">Checkout</a></td>
            {% endif %}
		</tfoot>
	</table>
    {% endif %}
    </div>
{% endblock %}