{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Posterpocalypse</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    
</head>


<body>
	<!--NAVBAR-->
	<!--Taken from codepen.io & edited to own style-->
	<nav class="mb-2 navbar navbar-expand-lg">
		<!-- Navbar brand -->
		<a class="navbar-brand font-bold" href="{% url 'index' %}">Posterpocalypse</a>
		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Links -->
			<ul class="navbar-nav mr-auto">
                <li class="nav-item">
					<a class="nav-link font-bold" href="{% url 'all_products' %}">Shop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-bold" href="{% url 'about' %}">About</a>
				</li>
			</ul>
			<!-- Links -->
			<!-- Search form -->
			<ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="{% url 'view_cart' %}">
                        <i class="fa fa-shopping-cart cart-icon"></i>
                        {% if product_count > 0 %}
                        <span class="badge badge-warning" id="product_count">{{ product_count }}</span>
                        {% endif %}
                        </a>
                </li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link font-bold" href="{% url 'profile' %}">Account</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-bold" href="{% url 'logout' %}">Sign Out</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link font-bold" href="{% url 'register' %}">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link font-bold" href="{% url 'login' %}">Sign In</a>
				</li>
				{% endif %}
			</ul>
			<form class="form-inline md-form mb-0">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input class="form-control font-bold w-75 ml-3" type="text" placeholder="Search" aria-label="Search">
                    </form>
		</div>
		<!-- Collapsible content -->
	</nav>

        {% if messages %}
            <div class="alert alert-danger">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% block content %} 
    {% endblock %}

    <!--FOOTER-->
	<footer class="container-fluid">
        <div class="footer-section row" id="footer-info">
            <div class="col-md-6">
                <h5 class="uppercase footer-header header">Posterpocalypse</h5>
                <p class="inline-block footer-text">Copyright Joe Sudron 2020</p>
            </div>
            <div class="col-md-6">
                <h5 class="uppercase footer-header" id="social-media">Stay Connected</h5>
                <ul class="list-inline social-links icon-border">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com/JoeSudronYeah">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com/joesudron83/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.linkedin.com/in/joe-sudron">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://github.com/JSudron">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            <span class="sr-only">GitHub</span>
                        </a>
                    </li>
                 </ul>
            </div>
        </div>
    </footer>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/stripe.js' %}"></script>
	{% block head_js %}
	{% endblock head_js %}

</body>

</html>