{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Posterpocalypse</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
		type="text/css" />
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />

</head>


<body>
	<!--NAVBAR-->
	<!--Taken from codepen.io & edited to own style-->
	<div class="alert alert-danger" role="alert">Free shipping on all orders during lockdown!</div>
    {% if messages %}
	<div class="alert alert-danger">
		<div class="messages">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="navbar-header">
		<a class="navbar-center" href="{% url 'index' %}"><img class="navbar-brand" src="/media/images/logo-small.jpg"></a>
	</div>
	<nav class="navbar navbar-expand-lg slanted-header">
		<!-- Navbar brand -->
		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
        </button>
		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Links -->
			<ul class="navbar-nav mx-auto effect-1">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'all_products' %}">Shop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">About</a>
				</li>
				<li>
					<a class="nav-link effect-1" href="{% url 'view_cart' %}">Cart
						{% if product_count > 0 %}
						<span class="badge badge-warning" id="product_count">{{ product_count }}</span>
						{% endif %}
					</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'profile' %}">Account</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Sign In</a>
				</li>
				{% endif %}
				<form class=" mb-3 mx-auto">
					<input class="form-control search-input" id="search_input" maxlength="20" name="q" placeholder="&#xF002; Search" type="search" aria-label="Search" style="font-family:Bangers, FontAwesome" required/>
                </form>
			</ul>
		</div>
		<!-- Collapsible content -->
	</nav>

	{% block content %}
	{% endblock %}

	<!--FOOTER-->
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h6>Posterpocalypse</h6>
					<p class="text-justify">Totally tubular limited edition posters & art prints. Give in to those nostalgic urges & get some pop culture on your walls.
                    What started as our a quickly became an obsession, join the journey.</p>
				</div>
				<div class="d-none d-md-block col-md-3">
					<h6>Quick Links</h6>
					<ul class="footer-links text-left effect-1">
						<li class="nav-item">
                            <a class="nav-link" href="{% url 'all_products' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
                        </li>
					</ul>
				</div>
                <div class="d-none d-md-block col-md-3">
					<h6>Account</h6>
					<ul class="footer-links text-left effect-1">
						{% if user.is_authenticated %}
				        <li class="nav-item">
					        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
				        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                        </li>
                        {% endif %}
					</ul>
				</div>
			</div>
			<hr>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
						<a href="https://github.com/JSudron">JSudron</a>.
					</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<ul class="social-icons">
						<li><a class="facebook" href="https://www.facebook.com/JoeSudronYeah"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter" href="https://twitter.com/JSud83"><i class="fa fa-twitter"></i></a></li>
						<li><a class="github" href="https://github.com/JSudron"><i class="fa fa-github"></i></a></li>
						<li><a class="linkedin" href="https://www.linkedin.com/in/joe-sudron"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/stripe.js' %}"></script>
	{% block head_js %}
	{% endblock head_js %}

</body>

</html>